@model NBDcase.Models.Labor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Labor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="LaborType" class="control-label"></label>
                <input asp-for="LaborType" class="form-control" />
                <span asp-validation-for="LaborType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborPrice" class="control-label"></label>
                <input asp-for="LaborPrice" class="form-control" />
                <span asp-validation-for="LaborPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborCost" class="control-label"></label>
                <input asp-for="LaborCost" class="form-control" />
                <span asp-validation-for="LaborCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffID" class="control-label"></label>
                <select asp-for="StaffID" class="form-control" asp-items="ViewBag.StaffID"></select>
                <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
